:root {
  --table-border-color: #011627;
  --accent-color: #ff005b;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #141414;
}

.App {
  padding: 20px;
  padding-bottom: 0;
}

.App-header {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-link-wrapper {
  width: 20em;
  text-align: center;
}

.App-link {
  padding: 2px;
  color: #141414;
  border-bottom: 0.1rem solid #636b46;
  text-decoration: none;
  text-transform: uppercase;
}

.App-link.Selected {
  font-weight: bold;
}

.App-link:hover {
  color: #cda34f;
  border-bottom: 0.1rem solid #cda34f;
}

.App hr {
  margin-top: 20px;
}

.Rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  margin: 1em auto;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
}
